<tr id="position_<%= position.id %>">
  <td><%= position.name %></td>
  <td><%= position.desc %></td>
  <td>
    <%= link_to edit_position_path(position), { remote: true, 'data-toggle' => 'modal', 'data-target' => '#simple_modal'} do %>
      <label for="" class="label btn-warning" style="text-decoration: none">
        <span class="glyphicon glyphicon-edit"></span>
      </label>
    <% end %>

    <%= link_to position_path(position), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
      <label for="" class="label btn-warning" style="text-decoration: none">
        <span class="glyphicon glyphicon-remove"></span>
      </label>
    <% end %>
  </td>
</tr>
