  <div class="col-xs-6 col-lg-4 center" style="height: 250px">
    <div class="col-sm-11 col-sm-offset-1 div-show-action" style="border:dotted 1px orange; border-radius: 5px; height: 90%; max-width: 380px;">
      <div class="row" style="height: 200px">
        <%= link_to device_path(device) do %>
          <%= image_tag device.photos.first.url, alt: "Photo", class: 'img_item_device' if device.photos.present? %>
        <% end %>
      </div>
      <div class="abs-bottom-left">
        <%= link_to device_path(device) do %>
          <%= device.name %>
        <% end %>
      </div>
      <div class="btn-group show-action" role="group" style="height: 20px">
        <div class="margin-1" style="float: left">
          <%= button_to 'Register', new_register_path, method: :get, remote: true, params: { id: device.id }, class: 'btn btn-xs btn-success' %>
        </div>
        <div class="margin-1" style="float: left">
          <%= button_to 'Report', new_report_path, method: :get, remote: true, params: { id: device.id }, class: 'btn btn-xs btn-success'%>
        </div>
        <% if @current_user.admin? %>
          <div class="margin-1" style="float: left">
            <%= button_to 'Delete', device_path(device), method: :delete, class: 'btn btn-xs btn-success', data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
      <div class="abs-top-right">
        <label for="" class="label label-info"><%= device.status %></label>
      </div>
    </div>
  </div>
