<div class="row div-warning">
  <div class="col col-sm-6">
    <h2 class="text-center">Positions</h2>
    <%= button_to new_position_path, remote: true, method: :get, class: 'label btn-warning small' do %>
      Add new | <span class="glyphicon glyphicon-plus"></span>
    <% end %>
    <table class="table table-striped" id='positions'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <%= render @positions %>
      </tbody>
    </table>
  </div>
  <div class="col col-sm-6">
    <h2 class="text-center">Ranks</h2>
    <%= button_to new_rank_path, remote: true, method: :get, class: 'label btn-warning small' do %>
      Add new | <span class="glyphicon glyphicon-plus"></span>
    <% end %>
    <table class="table table-striped" id='ranks'>
      <thead>
        <tr>
          <th>Level</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <%= render @ranks %>
      </tbody>
    </table>
  </div>
</div>
<div class="row col-sm-12" style="height: 5px">
</div>
<div class="row div-warning">
  <div class="col col-sm-6">
    <h2 class="text-center">Rooms</h2>
    <%= button_to new_room_path, remote: true, method: :get, class: 'label btn-warning small' do %>
      Add new | <span class="glyphicon glyphicon-plus"></span>
    <% end %>
    <table class="table table-striped" id='rooms'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Capacity</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <%= render @rooms, as: :room %>
      </tbody>
    </table>
  </div>
  <div class="col col-sm-6">
    <h2 class="text-center">Lessons</h2>
    <%= button_to new_lesson_path, remote: true, method: :get, class: 'label btn-warning small' do %>
      Add new | <span class="glyphicon glyphicon-plus"></span>
    <% end %>
    <table class="table table-striped" id='lessons'>
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Start</th>
          <th>Finish</th>
        </tr>
      </thead>
      <tbody>
        <%= render @lessons %>
      </tbody>
    </table>
  </div>
</div>
<%= render 'modals/simple_modal' %>
