<div class="row div-warning">
  <div class="col col-sm-6">
    <h2 class="text-center">Timesheets</h2>
    <%= button_to new_timesheet_path, remote: true, method: :get, class: 'label btn-warning small' do %>
      Add new <span class="glyphicon glyphicon-plus"></span>
    <% end %>
    <table class="table table-striped" id='timesheets'>
      <thead>
        <tr>
          <th>Date</th>
          <th>Green light(s)</th>
          <th>Yellow light(s)</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody class="body_timesheets">
        <%= render @timesheets %>
      </tbody>
    </table>
  </div>
  <div class="col col-sm-6">
    <h2 class="text-center">LightPlans</h2>
    <table class="table table-striped" id='light_plans'>
      <thead>
        <tr>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody class="body_light_plans">
        <%= render @light_plans %>
      </tbody>
    </div>
    <div class="row">
      <%= link_to new_light_plan_path(id: 1), { remote: true, 'data-toggle' => 'modal', 'data-target' => '#simple_modal'} do %>
      <label for="" class="btn btn-warning" style="text-decoration: none">
        <span class="glyphicon glyphicon-send"></span>
      </label>
      <% end %>
      <%= link_to new_light_plan_path(id: 10), { remote: true, 'data-toggle' => 'modal', 'data-target' => '#simple_modal'} do %>
      <label for="" class="btn btn-success" style="text-decoration: none">
        <span class="glyphicon glyphicon-send"></span>
      </label>
      <% end %>
      <%= link_to new_light_plan_path(id: 100), { remote: true, 'data-toggle' => 'modal', 'data-target' => '#simple_modal'} do %>
      <label for="" class="btn btn-danger" style="text-decoration: none">
        <span class="glyphicon glyphicon-send"></span>
      </label>
      <% end %>
    </div>
    </table>
  </div>
<%= render 'modals/simple_modal' %>
