<div class="row">
  <h1 class="text-center text-warning" style="margin: auto">Smart Vihicle Light System</h1>
  <hr style="width: 50%; margin: 16px auto">
  <hr style="width: 80%;margin: 5px auto">
</div>
<div class="row">
  <div class="col col-sm-6">
    <h3 class="text-center text-success">Timesheets</h3>
    <hr style="width: 30%; margin: 8px auto">
    <hr style="width: 50%; margin: auto">
    <%= button_to new_timesheet_path, remote: true, method: :get, class: 'btn btn-warning btn-xs' do %>
      Add new | <span class="glyphicon glyphicon-plus"></span>
    <% end %>
    <table class="table table-striped" id='timesheets'>
      <thead>
        <tr>
          <th>Date</th>
          <th>Green light(s)</th>
          <th>Yellow light(s)</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody class="body_timesheets">
        <%= render @timesheets %>
      </tbody>
    </table>
  </div>
  <!-- ===========================================  -->
  <div class="col col-sm-6">
    <h3 class="text-center text-success">LightPlans</h3>
    <hr style="width: 30%; margin: 8px auto">
    <hr style="width: 50%; margin: auto">
    <table class="table table-striped" id='light_plans'>
      <div class="row group-inline" style=" margin: 8px">
        <div class="col" style="float: left;">
            Choose the light mode:
        </div>
        <div class="col" style="float: right">
          <%= link_to new_light_plan_path(id: 1), { remote: true, 'data-toggle' => 'modal', 'data-target' => '#simple_modal'} do %>
          <label for="" class="btn btn-info" style="text-decoration: none">
            GYR | <span class="glyphicon glyphicon-send"></span>
          </label>
          <% end %>
          <%= link_to new_light_plan_path(id: 10), { remote: true, 'data-toggle' => 'modal', 'data-target' => '#simple_modal'} do %>
          <label for="" class="btn btn-warning" style="text-decoration: none">
            Yellow | <span class="glyphicon glyphicon-send"></span>
          </label>
          <% end %>
          <%= link_to new_light_plan_path(id: 100), { remote: true, 'data-toggle' => 'modal', 'data-target' => '#simple_modal'} do %>
          <label for="" class="btn btn-danger" style="text-decoration: none">
            Turn Off | <span class="glyphicon glyphicon-send"></span>
          </label>
          <% end %>
        </div>
      </div>
    </div>
      <thead>
        <tr>
          <th>Date</th>
          <th>Status</th>
          <th>Name</th>
          <th>Sensors</th>
        </tr>
      </thead>
      <tbody class="body_light_plans">
        <%= render @light_plans %>
      </tbody>
    </table>
    </div>
<%= render 'modals/simple_modal' %>
<script>
$(function() {
  $('#toggle-event').change(function() {
    var checked = $(this).prop('checked');
    $.post("/light_plans",
   {
       name: "Donald Duck",
       city: "Duckburg"
   },
   function(data, status){
       alert("Data: " + data + "\nStatus: " + status);
   });
    var _data = checked;
    var _status = 0;
      if (checked == 'true') {
        alert('Enable: ' + _data);
      }
      else {
        alert('Disable: ' + _data);
      }
    });
})
</script>
