<%= form_for @light_plan, remote: true, html: { class: 'form-inline' } do |f| %>
<div class="">
  <div class="row">
    <div class="col col-sm-10 col-sm-offset-1 form-inline" style="width: 100%">
      <%= f.datetime_select :date, { order: [:day, :month, :year] }, { class: 'form-control first_input form-small' } %>
    </div>
  </div>
  <div class="row" style="width: 100%">
    <%= f.hidden_field :value %>
    <%= f.hidden_field :name %>
    <% if @light_plan.value == 1 %>
    <div class="row group-inline" style="margin: 8px">
      <div class="col" style="float: left">
        Do you want to use the sensors?
      </div>
      <div class="col" style="float: right">
        <%= f.check_box :sensor, data: { toggle: 'toggle'}%>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="" style="float: right">
      <%= f.button :submit, class: 'btn btn-warning' do %>
      <span class="glyphicon glyphicon-send"></span>
      <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
