<tr id="light_plan_<%= light_plan.id %>">
  <td><%= light_plan.date %></td>
  <td><%= light_plan.status %></td>
  <td>
    <%= link_to edit_light_plan_path(light_plan), { remote: true, 'data-toggle' => 'modal', 'data-target' => '#simple_modal'} do %>
      <label for="" class="label btn-warning" style="text-decoration: none">
        <span class="glyphicon glyphicon-edit"></span>
      </label>
    <% end %>

    <%= link_to light_plan_path(light_plan), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
      <label for="" class="label btn-warning" style="text-decoration: none">
        <span class="glyphicon glyphicon-remove"></span>
      </label>
    <% end %>
  </td>
</tr>
