<%= form_for @lesson, remote: true, html: { class: 'form-inline' } do |f| %>
  <div class="form-group row">
    <%= f.text_field :code, placeholder: 'Code', class: 'form-control' %>
    <%= f.text_field :name, placeholder: 'Name', class: 'form-control'%>
    <%= f.text_field :start, placeholder: 'Start(h)', class: 'form-control' %>
    <%= f.text_field :finish, placeholder: 'finish(h)', class: 'form-control'%>
    <div class="modal-footer">
      <%= f.button :submit, class: 'btn btn-warning' do %>
      <span class="glyphicon glyphicon-send"></span>
      <% end %>
    </div>
  </div>
<% end %>
