<tr id="lesson_<%= lesson.code %>">
  <td><%= lesson.code %></td>
  <td><%= lesson.name %></td>
  <td><%= lesson.start %></td>
  <td><%= lesson.finish %></td>
  <td>
    <%= link_to edit_lesson_path(lesson), { remote: true, 'data-toggle' => 'modal', 'data-target' => '#simple_modal'} do %>
      <label for="" class="label btn-warning" style="text-decoration: none">
        <span class="glyphicon glyphicon-edit"></span>
      </label>
    <% end %>

    <%= link_to lesson_path(lesson), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
      <label for="" class="label btn-warning" style="text-decoration: none">
        <span class="glyphicon glyphicon-remove"></span>
      </label>
    <% end %>
  </td>
</tr>
