<%= form_for @room, remote: true, html: { class: 'form-inline' } do |f| %>
  <div class="form-group row">
    <%= f.text_field :block, placeholder: 'Block', class: 'form-control' %>
    <%= f.text_field :no, placeholder: 'No', class: 'form-control' %>
    <%= f.text_field :capacity, placeholder: 'Capacity', class: 'form-control'%>
    <div class="modal-footer">
      <%= f.button :submit, class: 'btn btn-warning' do %>
      <span class="glyphicon glyphicon-send"></span>
      <% end %>
    </div>
  </div>
<% end %>
