<p id="notice"><%= notice %></p>

<h1>Cameras</h1>

<table>
  <thead>
    <tr>
      <th>X</th>
      <th>Y</th>
      <th>Description</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cameras.each do |camera| %>
    <%# camera là object chứa các thông tin của một cái camera %>
    <%# camera.x, camera.y là toạ độ theo kinh tuyến, vĩ tuyến trên gugo map, cái này mình sẽ set cho nó %>
    <%# desciption: mô tả, cái này là thôgn tin thêm. Source là địa chỉ ip mà mình sẽ lấy hình ảnh từ camera %>
    <%#       rồi xử lí realtime  %>
      <tr>
        <td><%= camera.x %></td>
        <td><%= camera.y %></td>
        <td><%= camera.description %></td>
        <td><%= camera.source %></td>
        <td><%= link_to 'Show', camera %></td>
        <td><%= link_to 'Edit', edit_camera_path(camera) %></td>
        <td><%= link_to 'Destroy', camera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camera', new_camera_path %>
