<%= button_to 'Add new', new_category_path, method: :get, class: 'btn' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        name
      </th>
      <th>
        desc
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
          <%= category.name %>
        </td>
        <td>
          <%= category.desc %>
        </td>
        <td>
          <%= link_to new_device_path do %>
            <span class='glyphicon glyphicon-plus'></span>
          <% end %>
          <%= link_to category_path(category), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class='glyphicon glyphicon-remove'></span>
          <% end %>
          <%= link_to edit_category_path(category) do %>
            <span class='glyphicon glyphicon-edit'></span>
          <% end %>
          <%= link_to category_path(category) do %>
          <span class='glyphicon glyphicon-menu-right'></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
